@model Jobs.Data.Root.Job

@{
	ViewBag.Title = "Ukončiť ponuku?";
	Func<string, object> formatProperty = (value) =>
	{
		if (value.StartsWith("http://") || value.StartsWith("https://"))
		{
			return new MvcHtmlString(string.Format("<a href=\"{0}\">{0}</a>", value));
		}
		if (value.StartsWith("@"))
		{
			return new MvcHtmlString(string.Format("<a href=\"http://twitter.com/{1}\">{0}</a>", value, value.Substring(1)));
		}
		return value;
	};
}
<div id="detail">
	<h2>Skutočne si prajete ukončiť ponuku?</h2>
	@using (Html.BeginForm())
	 {
		<input name="Id" type="hidden" value="@Model.Id" />
		@Html.SubmitButton("Close", "Áno, označ ako ukončenú", new { @class = "ui-button ui-widget ui-state-default ui-corner-all" })
	 }
	<article class="job">
		<header>
		<h2 class="pad-right">@Model.Title</h2>
		</header>
		<section>
		<div class="display-label">Miesto</div>
		<div class="display-field">@Model.Place</div>

		<div class="display-label">Skills</div>
		<div class="display-field">@Model.Prerequirements</div>
		@foreach (var property in Model.Properties)
	 {
			<div class="display-label">@property.Key</div>
			<div class="display-field">@formatProperty(property.Value)</div>
	 }
		<div class="display-label">Popis</div>
		<div class="display-field">@Html.LineBreaksToBr(Model.Description)</div>
		</section>
		<footer><b>Vytvorené: </b>@String.Format("{0:g}", Model.CreateDate)</footer>
	</article>
</div>

