@model jobs.web.ViewModel.Home.HomeViewModel
@using vlko.BlogModule.Action.ViewModel;
@{
	ViewBag.Title = "Home Page";
	Html.ScriptInclude("~/Scripts/Grid.js");
}
<section id="people" class="eventposts">
	<h2>Záujemci</h2>
	@(Html.ActionLink<jobs.web.Controllers.PeopleController>(c => c.Create(), "Nový záujemca", new { @class = "grid_create" }))
	<div class="cleaner"></div>
	@foreach (var offer in Model.People)
 {
		<article class="job">
			<header>
			@(Html.ActionLink<jobs.web.Controllers.PeopleController>(c => c.Details(offer.SimpleId), "Detail", new { @class = "grid_details" }))
			<h1>@(Html.ActionLink<jobs.web.Controllers.PeopleController>(c => c.Details(offer.SimpleId), offer.Title))</h1>
			</header>
			<section>
			
			<div class="place">@if (offer.IsClosed) {
				<div class="state">Ukončená</div>
			}<b>kde:</b> @offer.Place</div>
			<div class="desc">@Html.LineBreaksToBr(offer.Description)</div>
			</section>
			<footer><div class="skill">@offer.Prerequirements</div></footer>
		</article>	 
 }
	 @(Html.ActionLink<jobs.web.Controllers.PeopleController>(c => c.Index(null), "Zoznam záujemcov", new { @class = "go_to" }))
</section>
<section id="projects" class="eventposts">
	<h2>Projekty</h2>
	@(Html.ActionLink<jobs.web.Controllers.ProjectController>(c => c.Create(), "Nový projekt", new { @class = "grid_create" }))
	<div class="cleaner"></div>
	@foreach (var offer in Model.Projects)
 {
	 <article class="job">
			<header>
			@(Html.ActionLink<jobs.web.Controllers.ProjectController>(c => c.Details(offer.SimpleId), "Detail", new { @class = "grid_details" }))
			<h1>@(Html.ActionLink<jobs.web.Controllers.ProjectController>(c => c.Details(offer.SimpleId), offer.Title))</h1>
			</header>
			<section>
			<div class="place">@if (offer.IsClosed) {
				<div class="state">Ukončená</div>
			}<b>kde:</b> @offer.Place</div>
			<div class="desc">@Html.LineBreaksToBr(offer.Description)</div>
			</section>
			<footer><div class="skill">@offer.Prerequirements</div></footer>
		</article>	 	 
 }
	 @(Html.ActionLink<jobs.web.Controllers.ProjectController>(c => c.Index(null), "Zoznam projektov", new { @class = "go_to" }))
</section>
<div class="cleaner"></div>
@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
	$(function () {
		$("#content").ajaxGrid({ showText: true });
	});
</script>);
}
