@model Jobs.Data.Root.Job

@{
	ViewBag.Title = "Details";
	Func<string, object> formatProperty = (value) =>
	{
		if (value.StartsWith("http://") || value.StartsWith("https://"))
		{
			return new MvcHtmlString(string.Format("<a href=\"{0}\">{0}</a>", value));
		}
		if (value.StartsWith("@"))
		{
			return new MvcHtmlString(string.Format("<a href=\"http://twitter.com/{1}\">{0}</a>", value, value.Substring(1)));
		}
		return value;
	};
}
<div id="detail">
<article class="job">
		<header>
		
		<h1 class="pad-right">@(Html.ActionLink<jobs.web.Controllers.ProjectController>(c => c.Details(Model.SimpleId), Model.Title))</h1>
		<h2>@(Html.ActionLink<jobs.web.Controllers.ProjectController>(c => c.Contact(Model.SimpleId), "Kontaktujte ma", new { @class = "contact_me f_right", title = "Kontaktujte ma" }))</h2>
		</header>
		<section>
		<div class="display-label">Miesto</div>
		<div class="display-field">@Model.Place</div>

		<div class="display-label">Technológie</div>
		<div class="display-field">@Model.Prerequirements</div>
		@foreach (var property in Model.Properties)
	 {
			<div class="display-label">@property.Key</div>
			<div class="display-field">@formatProperty(property.Value)</div>
	 }
		<div class="display-label">Popis</div>
		<div class="display-field">@Html.LineBreaksToBr(Model.Description)</div>
		</section>
		<footer><b>Vytvorené: </b>@String.Format("{0:g}", Model.CreateDate)</footer>
	</article>
	<div class="ajax_ignore">
		@Html.ActionLink("Späť na zoznam projektov", "Index") 
	</div>
</div>
@{ Html.ScriptInlineInclude(
@<script type="text/javascript">
	$(function () {
		$(".contact_me")
				.click(function (event) {
					event.preventDefault();
					createLoading();
					$.ajax({
						url: $(this).attr("href") + "?ajaxTime=" + new Date().getTime(),
						success: function (data) {
							var content = $("#detail");
							fillContentWithData(content, data);
							closeLoading();
							updateEffect(content);
						},
						error: ajaxException
					});
				}); ;
	});
</script>);
} 

