<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head>
	<title>Startupcamp.sk - Job board</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="http://www.startupcamp.sk/wp-content/themes/startupcamp/style.css" type="text/css" />
	<link rel="shortcut icon" href="http://startupcamp.sk/favicon.ico" />
	<link rel='index' title='Startupcamp.sk' href='http://www.startupcamp.sk' />
	<meta name="author" content="twitter:@@vlkodotnet">
	@{ 
		Html.CssInclude("~/Content/Site.css");
		Html.CssInclude("~/Content/jquery-ui-1.8.7.custom.css");
		Html.ScriptRootInclude("~/Scripts/jquery-1.4.4.js", "~/Scripts/jquery-1.4.4.js");
		Html.ScriptRootInclude("~/Scripts/jquery-ui-1.8.7.custom.min.js");
		Html.ScriptRootInclude("~/Scripts/jquery.ba-bbq.js");
		Html.ScriptRootInclude("~/Scripts/Common.js"); 
	}
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	@Html.RenderCss()
</head>
<body>
	<div id ="headerwrapper" class ="wrapper">
		<div id="header" class =" full">
			<a id ="logo" href ="http://www.startupcamp.sk">Startupcamp.sk</a>

			<span id ="tagline">
				Pravidelné neformálne stretnutie ľudí zaujímajúcich sa o startupy - founderi, kóderi, dizajnéri, investori aj biznis mudrlanti.		</span>
		</div>
	</div>
	<div id ="menuwrapper" class ="wrapper">
		<ul id ="menu" class ="full">
			<li><a href ="http://www.startupcamp.sk/">Home</a></li>
			<li><a href ="http://www.startupcamp.sk/startupy/">Startupy</a></li>
			<li><a href ="http://www.startupcamp.sk/ludia/">Ľudia</a></li>
			<li class ="active"><a href ="http://jobs.preweb.sk/">Job board</a></li>
			<li><a href ="http://www.startupcamp.sk/forum/">Forum</a></li>
			@if (Request.IsAuthenticated) {
				<li@Html.Raw(ViewContext.Controller is vlko.web.Areas.Admin.Controllers.JobsController ? " class=\"active\"" : string.Empty)>@Html.ActionLink("All jobs", "Index", "Jobs", routeValues: new { area = "Admin" })</li>
			}
		</ul>
	</div>
	<div id ="content" class ="homepage full">
		@RenderBody()
	</div>
	<div id ="footer" class ="full">
	<a href ="http://www.Startupcamp.sk">Startupcamp</a> | <a href ="https://twitter.com/startupcampSK">twitter</a> | <a href ="http://www.facebook.com/StartupCampSK" target ="_blank">facebook</a> | za Job Portal <a href ="http://vlko.preweb.sk" target ="_blank">vlko</a> | furt tu na tom robíme
	@Html.RenderScripts()
	@Html.RenderInlineScripts()
<script>
	var _gaq = [['_setAccount', '@vlko.BlogModule.Settings.GAToken.Value'], ['_trackPageview']];
	(function (d, t) {
		var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
		g.async = true;
		g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g, s);
	})(document, 'script');
</script>
	</div>

</body>
</html>
